{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Visualize Metrics</title>
    <script src="{% static "visualize/jquery.js" %}" type="text/javascript"></script>
    <script src="{% static "visualize/heatmap.js" %}" type="text/javascript"></script>
</head>
<body style="margin: 0px; overflow-y: auto;">

<div id="container" style="width: 1900px; display: inline;"></div>
<iframe id="frame" scrolling="no" src="//127.0.0.1:8000/proxy" style="position:relative; width:100%; z-index:999999;"></iframe>

<script type="text/javascript">

    var config = {
        //element: document.getElementById("container"),
        element: 'container',
        radius: 10,
        opacity: 50
    };

    $("#frame").load(function() {
        var coords = [];
        $("iframe").css('height', $("#frame").contents().height() + 'px' );
        $("#container").css("height", $("#frame").contents().height() + 'px' );
        $.get( "/retreive_data/", function( data ) {

            var frame = $('#frame').get(0);
            var frame_height = $('#frame').contents().height();
            $.each(data, function(xpath, info) {
                console.log(xpath);
                var elem = document.evaluate(xpath, frame.contentDocument, null, XPathResult.FIRST_ORDERED_NODE_TYPE, null).singleNodeValue;
                $(elem).css({'border':'1px solid black'});
                var offset = $(elem).offset();
                var counter_element = '<span class="bubble">' + info.clicks + '</span>';

                $(elem).append(counter_element);

                $(elem).find('.bubble').css({
                    'background-color': 'black',
                    'color': 'white',
                    'padding': '2px',
                    'font-size': '12px',
                    'border-radius': '50px',
                    'position': 'relative',
                    'line-height': '14px',
                    'font-weight': 'bold',
                    'float':'right'
                });
{#                counter_element.css({'left':offset.left, 'top':offset.top});#}
                $.each(info.positions, function(index, pos) {
                    x_pos = offset.left + $(elem).get(0).clientWidth / pos[0];
                    y_pos = offset.top + $(elem).get(0).clientHeight / pos[1];
                    coords.push({x:x_pos, y:y_pos, count:info.clicks});

                });
            });
            var heatmap = h337.create(config);
            var metrics = {
                max: Math.max.apply(Math, coords.map(function(t) {return parseInt(t.count)})),
                data: coords
            };
            heatmap.store.setDataSet(metrics);
        });
    });
</script>

</body>
</html>